@import "@angular/material/prebuilt-themes/pink-bluegrey.css";

html,
body {
  margin: 0;
  height: 100%;
  background-color: #dcdcdc;
  font-family: "Courier New", Courier, monospace;
  color: #f0f0f0;
}
